<!--include header-->
<%- include('include/_headerD') %>
<!--include header-->

    <div class="container">
        <div class="text-center">
            <a href="/" class="nav-brand text-dark" dir="rtl">שגיאה. אנא </a>
            <br>
            <a href="/uriel-shira" class="border-shaddow">
                <span class="nav-brand text-dark"><u>נסו שנית<u></span>
            </a>
        </div>
    </div>
<!--include footer-->
<%- include('include/_footer') %>
<!--include footer-->