<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding of Netanel & Tamar</title>
    <link rel="stylesheet" href="css/styleB.css"> 
</head>
<body>
    <div class="container">
        <div class="text-center" style="padding-top: 30%;">
            <a class="nav-brand text-dark" dir="rtl">מחכים לכם!</a>
            <img class="logoImg" src="/img/logoB.png" style="display: block; margin-right: auto; margin-left: auto;">
            
        </div>
    </div>

</body>