<!--include header-->
<%- include('include/_headerE') %>
<!--include header-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding of Israel & Ayala</title>
    <link rel="stylesheet" href="../assets/css/styleE.css">
</head>
<body>  
    <!--main site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <!--<a href="/">All Users</a>-->
                </div>
            </div>
        <div class="form-title text-center">
            <h2 class="text-dark">אנא אשרו הגעה</h2>
            <!--<span class="text-light">נשמח לדעת האם תשתתפו בשמחתנו</span>-->
        </div>
        <!--add user form-->
        <%- include('include/_form E') %>
        </div>
    </main>
    <!--main site-->
</body>
</html>

<!--include footer-->
<%- include('include/_footer') %>
<!--include footer-->