<!--form handling-->
<div style="width: 80%; margin: 0 auto">
<form name="add_user" action="/api/participents" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group"> 
            <label for="name" class="text-light">שם מלא:</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="your full name">
        </div>
        <!--<div class="form-group" dir="ltr">
            <div style="width: 50%;  float: left;  padding-right: 10px;"> 
                <label for="fName" class="text-light">שם פרטי</label>
                <input type="hidden" name="id" value="">
                <input type="text" id="lName" name="lName" value="" placeholder="שם פרטי">
            </div>
            <div style="width: 50%; float: left; padding-left: 10px;"> 
                <label for="lName" class="text-light">שם משפחה</label>
                <input type="hidden" name="id" value="">
                <input type="text" id="fName" name="fName" value="" placeholder="שם משפחה">
            </div>
            <p class="error name-error"></p>
        </div>-->
        <div class="form-group">
            <label for="PhoneNumber" class="text-light">נייד</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" value="" placeholder="052-000-0000">
        </div>
     
    <!--<div class="form-group">
        <div style="width: 40%; float: left; padding-right: 10px;"> 
            <label for="PhoneNumber" class="text-light">Mobile:</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" value="" placeholder="052-000-0000">

        </div>
        <div style="width: 60%;  float: left;  padding-left: 10px;"> 
            <label for="Email" class="text-light">Email Address:</label>
            <input type="text" id="mail" name="email" value="" placeholder="example@gmail.com">

        </div>
    </div>-->
    <br>
        <div class="form-group"> 
            <label class="text-light">משתתפים</label>
            <div style="display: flex; gap: 0px;">
            <div style="flex: 1">
            <div class="radio inline">
                <label for="radio-2" class="radio-label" style="color:#363636;">נשים     &nbsp</label>
                <select name="numOfF" style="color: #3a3a3a;  border-radius: 0;" id="radio-2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  
            </div>
            <div class="radio inline">
                <label for="radio-2" class="radio-label" style="color: #363636"> &nbspגברים </label>
                <select name="numOfM" style="color: #3a3a3a; border-radius: 0;" id="radio-2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  
            </div>
        </div>
        <div style="flex: 1">
              <div class="radio inline">
                <label for="radio-2" class="radio-label" style="color: #363636">ילדים</label>
                <select name="numOfC" style="color: #3a3a3a; border-radius: 0;" id="radio-2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            
            </div>
            </div>
            </div>  
        </div>
        <!--<div class="form-group"> 
            <label class="text-light">Guests:</label>
            <select name="numOfM" style="color:  #494949;" id="radio-2">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>

              </select>
              </div>-->
              <br>
        <div class="form-group"> 
            <label for="Status" class="text-light">סטטוס:</label>
            <br>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="מגיע   ">
                <label for="radio-4" class="radio-label" style="color:#363636">  נשתתף בסעודה </label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value=" משמחים" ">
                <label for="radio-5" class="radio-label" style="color:#363636" > נגיע לשמחת חתן כלה  </label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-7" name="status" value="לא מגיע" ">
                <label for="radio-7" class="radio-label" style="color:#363636"> לא נגיע </label>
            </div>
            <p class="error status-error"></p>
        </div>
        <br>
        <div class="form-group"> 
            <label for="notes" class="text-light">הערות:</label>
            <input type="text" name="notes" value="" placeholder="something to say">

        </div>
        <div class="form-group"> 
           <button type="submit" class="btn text-dark update">אישור</button>
        </div>
    </div>
</form>
</div>
<script>
    function showError(errorElement, errorMessage){
        document.querySelector("."+errorElement).classList.add("display-error");
        document.querySelector("."+errorElement).innerHTML=errorMessage;

    }
    function clearError(){
        let errors=document.querySelectorAll(".error");
        for(let i of errors){
            i.classList.remove("display-error");
        }
    }
    let form=document.forms['add_user'];
    form.onsubmit=function(event){

        clearError();

        if(form.fName.value==="" || form.lName.value===""){
            showError("name-error", "שדות חובה");
            return false;
            event.preventDefault();
        }
       // if(form.lName.value===""){
        //    showError("name-error", "שדות חובה");
        //    return false;
        //    event.preventDefault();
        //}
        if(form.status.value===""){
            showError("status-error", "שדה זה הנו שדה חובה");
            return false;
            event.preventDefault();
        }
            
        
    }
</script>