<!--form handling-->
<div style="width: 80%; margin: 0 auto">
<form action="/api/participents" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group"> 
            <label for="name" class="text-light">שם פרטי ומשפחה</label>
            <input type="hidden" name="id" value="">
            <input type="text" id="name" name="name" value="" placeholder="שם מלא">

        </div>
        <div class="form-group"> 
            <label for="Email" class="text-light">כתובת מייל</label>
            <input type="text" id="mail" name="email" value="" placeholder="example@gmail.com">

        </div>
        <div class="form-group"> 
            <label class="text-light">משתתפים</label>
            <br>
            <div class="radio inline">
                <label for="radio-2" class="radio-label" style="color: #494949;">נשים</label>
                <select name="numOfF" style="color: rgb(56, 56, 56);" id="radio-2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            </div>
            <div class="radio inline">
                <label for="radio-2" class="radio-label" style="color: #494949;">גברים</label>
                <select name="numOfM" style="color: rgb(56, 56, 56);" id="radio-2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            </div>
        </div>
        <div class="form-group"> 
            <label for="Status" class="text-light">סטטוס</label>
            <br>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="משתתף" checked>
                <label for="radio-4" class="radio-label" style="color: #494949;">אשתתף</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="לא משתתף">
                <label for="radio-5" class="radio-label" style="color: #494949;">לא אשתתף</label>
            </div>
        </div>
        <div class="form-group"> 
            <label for="notes" class="text-light">הערות נוספות</label>
            <input type="text" name="notes" value="" placeholder="הערה">

        </div>
        <div class="form-group"> 
           <button type="submit" class="btn text-dark update">אישור</button>
        </div>
    </div>
</form>
</div>